
html {
  font: 400 10px/1.66 "Martel", "Merriweather", "Baskerville", "Serif";
  letter-spacing: -0.025rem;
  color: #192D34;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.8rem;
  font-family: "DM Sans", "Avenir", "Gill Sans", "Helvetica","Arial", sans-serif;
  letter-spacing: -0.2rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 3.8rem;
  font-family: "DM Sans", "Avenir", "Gill Sans", "Helvetica","Arial", sans-serif;
  letter-spacing: -0.2rem;
  margin-bottom: 0;
}

h3 {
  font-size: 2.1rem;
  text-transform: uppercase;
  font-family: "DM Sans", "Avenir", "Gill Sans", "Helvetica","Arial", sans-serif;
  letter-spacing: 0.125rem;
}


p {
  margin: 0 0 1rem;
}

.content-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 8rem;
}

.content {
  display: flex;
  justify-content: space-around;
}

header {
  display: block;
  padding: 5rem 1.25rem 0;
  position: relative;
}

header .button.cta {
  position: absolute;
  right: 0;
}

.button {
  background: #1CBB94;
  padding: 1.5rem 3rem;
  border: none;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  color:#fff;
  text-transform: uppercase;
  font-family: "DM Sans";
  letter-spacing: .25rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.content-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: initial;
  padding: 5rem 0;
}

.value-prop {
  margin-top: 3rem;
  text-align: center;
}

.value-prop strong {
  display: block;
}


.content-bg.purple {
  background-image: url(../images/blob-purple-wide.svg); 
}

.content-bg.orange {
  background-image: url(../images/blob-orange-wide.svg); 
}

.content-bg.pink {
  background-image: url(../images/blob-pink-wide.svg); 
}

.content-bg.purple-tall {
  background-image: url(../images/blob-purple-vertical.svg); 
}

.content-bg.orange-tall {
  background-image: url(../images/blob-orange-vertical.svg); 
}

.content-bg.pink-tall {
  background-image: url(../images/blob-pink-vertical.svg); 
}

.center {
  text-align: center;
}

.text {
  width: 50%;
  margin-top: 3rem;
}

.slim p {
  width: 32%;
}

.home-intro .illustration {
  position: relative;
  width: 400px;
  height: 300px;
}

.home-intro .illustration img {
  position: absolute;
}

.home-intro .illustration #people-stack {
  z-index: 1;
  top: 15%;
  left: 10%;
}
.home-intro .illustration #people-stack-blob-one {
  z-index: -1;
  top: 0;
  animation: 4s pulse ease-in-out alternate infinite;
}
.home-intro .illustration #people-stack-blob-two {
  z-index: -1;
  bottom: 10%;
  right: 0;
  animation: 3s pulse ease-in-out alternate infinite;
}

.home-intro .illustration #people-stack-book-one {
  z-index: 2;
  top: 15px;
  left: 45px;
  animation: 3s bounce linear infinite alternate;
}

.home-intro .illustration #people-stack-book-two {
  z-index: 2;
  top: 120px;
  right: 80px;
  animation: 5s bounce linear infinite alternate;
}

.home-intro .illustration #people-stack-book-two {
  z-index: 2;
  top: 120px;
  right: 80px;
  animation: 5s bounce linear infinite alternate;
}

.illustration-overview {
  justify-content: space-evenly;
}


.illustration-overview .suggest {
  display: block;
  margin-top: 10px;
  min-height: 220px;
  width: 225px;
  background: url(../images/suggest-person.png) no-repeat left center;
  background-size: contain;
}

.illustration-overview:nth-child(2) {
  height: 225px;
}

.illustration.suggest, .illustration.sprite, .illustration.ranking  {
  position: relative;
}

.illustration.suggest .book {
  position: absolute;
  right: 10px;
  top: -30px;
  animation: 3s bounce linear infinite alternate;
 
}

.illustration.suggest .blob-orange {
  position: absolute;
  z-index: -1;
  right: -20px;
  top: -40px;
}

.illustration.voting .blob-purple {
  position: absolute;
  z-index: -1;
  left: -60px;
  top: -10px;
  opacity: .7
}

.illustration.ranking .blob-pink {
  position: absolute;
  z-index: -1;
  right: 40px;
  bottom: 30px;
}

.illustration-overview .voting {
  margin: 25px 0 0 75px;
  width: 250px;
  height: 225px;
  background: url(../images/voting-sprite.png) no-repeat left center;
  animation: play 6s steps(8) infinite;
  background-size: 2000px;
  position: relative;
}

.illustration-overview .ranking {
  margin: -15px 50px 0 0;
  width: 225px;
  height: 225px;
  background: url(../images/rank-person.png) no-repeat left center;
  background-size: contain;
}

.footer {
  background: #192D34;
  padding: 6rem;
  text-align: center;
  color: #fff;
}

.footer h2 {
  font-size: 4.2rem;
}

.byline {
  margin-top: 10rem;
  opacity: .5
}

.footer h2 {
  color: #fff;
} 

.form {
  margin: 4rem auto;
  width: 500px;
}

.form-success {
  width: 100%;
  text-align: center;
  padding: 2.25rem 0 1.5rem;
  background: #28C29B;
  color: #fff;
  font-weight: 900;
  display: none;
}

input {
  font-family: "DM Sans";
}

.form input[type="email"] {
  font-size: 1.75rem;
  padding: 1.5rem 2rem;
  width: 300px;
  font-weight: 400;
  border: none;
  border-radius: 3px;
}

input::placeholder {
  color: #777;
}

input[type="submit"] {
  background: purple;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.35rem;
  letter-spacing: .2rem;
  font-weight: 700;
  font-family: "DM Sans";
  border-radius: 3px;
  padding: 1rem 2.5rem;
  display: inline-block;
  /*line-height: 2rem;*/
  height: 5.2rem;
  margin-left: .75rem;
}

@keyframes play {
   100% { background-position: -2000px; }
}


@keyframes pulse {
    0%  { transform: scale(.9) }
   30%  { transform: scale(1) }
   100% { transform: scale(.9) }
}




@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-1px, -3px, 0) rotate(-8deg);
  }
  50% {
    transform: translate3d(0,0,0) rotate(0deg);
  }
  75% {
    transform: translate3d(2px, -4px, 0) rotate(10deg);
  }
  100% {
    transform: translate3d(0,0,0) rotate(0deg);
  }
}


#stage {
  margin: -20px auto 0;
  width: 520px;
  height: 400px;
  -webkit-perspective: 1000;
  position: relative;
  overflow: hidden;
  border-radius: 13px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  transform: scale(.8);
}
#rotate {
  margin: 130px auto;
  width: 520px;
  height: 100px;
  -webkit-transform-style: preserve-3d;

}
.ring {
  position: absolute;
  margin: 0 auto;
  height: 100px;
  width: 50px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1,.05,.5,1)
}
.poster {
  position: absolute;
  left: 205px;
  width: 100px;
  height: 150px;
  backface-visibility: hidden;
}

.poster > img {
  width:100px;
  box-shadow: inset 6px 0px 4px rgba(0,0,0,0.15), 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.3);
  outline: 2px solid rgba(33,35,37,0.05);
    outline-offset: -2px;
  border-radius: 1px;

}

#ring-1 {
  left: -120px;
  -webkit-animation-name: x-spin-first;
  -webkit-animation-duration: 5s;
}

#ring-2 {
  left: -10px;
  -webkit-animation-name: x-spin-second;
  -webkit-animation-duration: 5s;
}

#ring-3 {
  left: 100px;
  -webkit-animation-name: x-spin-third;
  -webkit-animation-duration: 5s;
}

/*@-webkit-keyframes x-spin-first {
  0% {
    -webkit-transform: rotateX(57deg);
  }
  60% {
    -webkit-transform: rotateX(417deg);
  }
  100% {
    -webkit-transform: rotateX(417deg);
  }
}*/

@-webkit-keyframes x-spin-first {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  60% {
    -webkit-transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
  }
}

@-webkit-keyframes x-spin-second {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  60% {
    -webkit-transform: rotateX(-360deg);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
  }
}

@-webkit-keyframes x-spin-third {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  60% {
    -webkit-transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
  }
}

.stack {
  margin: 0 auto;
  position: relative;
  z-index: 1000;
  width: 170px;
  height: 255px;
  padding: 0;
  list-style: none;
    pointer-events: none;
}

.stack__item {
  background: #fff;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: auto;
  box-shadow: 
    0 4px 10px rgba(118, 111, 94,.25),
    0 8px 10px rgba(118, 111, 94,.25)
}

.stack__item img {
  height: 100%;
  display: block;
  pointer-events: none;
}

.controls {
  position: relative;
  text-align: center;
  margin: 1em 0 0 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #fff;
  font-size: 1.25em;
  text-shadow: 0 -0.5px 1px rgba(0, 0, 0, 0.15);
}

.voting-button {
  border: none;
  outline: none;
  background: none;
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 1.5em;
  width: 85px;
  height: 60px;
  z-index: 100;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.button--sonar:nth-child(1) {
  border-radius: 3rem 3px 3px 3rem;
  left: -3px;
}
.button--sonar:nth-child(2) {
  border-radius: 3px 3rem 3rem 3px;
  right:-3px;
}


.material-circle {
  width: 150vh;
  height: 150vh;
  margin: -75vh 0 0 -75vh;
  z-index: 0;
  border-radius: 100%;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: 0;
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1);
}

.material-circle--accept.material-circle--active {
  background: #28C29B;
}

.material-circle--reject.material-circle--active {
  background: #e66868;
}

.material-circle--active {
  -webkit-animation: anim-effect-material 0.6s ease-out forwards;
  animation: anim-effect-material 0.6s ease-out forwards;
}

@-webkit-keyframes anim-effect-material {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
  }
}

@keyframes anim-effect-material {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
  }
}

.button:focus {
  outline: none;
}

.button--accept {
  background:url(../images/yes.svg) 45% 50% / 2.5rem no-repeat #28C29B;
  box-shadow: inset -2px 0px 10px #17B18A, 0px 6px 10px rgba(0,0,0,0.2);
}

.button--reject {
  background: url(../images/no.svg) 55% 50% / 3.5rem no-repeat #F6F6F5;
  box-shadow: inset 4px 0px 10px rgba(255,255,255,1), 0px 6px 10px rgba(0,0,0,0.2);
}

.text-hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent;
  display: block;
}

/* Animations */
.stack__item--reject,
.stack__item--accept {
  pointer-events: none;
}


/***********************************************/
/******************** krisna *******************/
/***********************************************/


.stack--krisna .stack__item--reject {
  -webkit-animation: krisnaReject .5s forwards;
  animation: krisnaReject .5s forwards;
}

@keyframes krisnaReject {
  to {
    transform: translate3d(-50vw,5vh,0) translate3d(-50%,5%,0) rotate3d(0,0,1,-25deg);
    opacity: 0.6;
  }
}

.stack--krisna .stack__item--accept {
  -webkit-animation: krisnaAccept 0.5s forwards;
  animation: krisnaAccept 0.5s forwards;
}

@keyframes krisnaAccept {
  to {
    transform: translate3d(50vw,5vh,0) translate3d(60%,0,0) rotate3d(0,0,1,25deg);
  }
}


.content__title {
  margin: 0 auto 6em 0;
  font-size: 1em;
  z-index: 100;
  position: relative;
  color: rgba(0,0,0,0.25);
}

.media-item {
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.media-item__img {
  max-width: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
  opacity: 1;
}

.media-item__title {
  margin: 0;
  padding: 0.5em;
  font-size: 1em;
}





.button.styl-material {
  -webkit-transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
  transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
}

.button.styl-material:hover,
.button.styl-material:focus {
  outline: none;
}

.choice {
  position: relative;
  top: .2rem;
}

.ripple-obj {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  fill: rgba(255,255,255,.3);
  border-radius: 5rem;
}

.ripple-obj use {
  opacity: 0;
}

.illustration.drag-n-drop {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  align-content: center; 
  width:40%;
}

.draggable-book {
  height:190px;
  width: 125px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.25),
              0px 12px 14px rgba(0, 0, 0, 0.25);
  cursor: grab;
  border: 5px solid #fff;
}
.draggable-book img {
  width: 125px;
}

.drop-targets div {
  font: 2rem "DM Sans";
  color: rgba(0,0,0,.4);
  line-height: 10rem;
  margin: 2rem 0;
  text-align: center;
  border-radius: 5px;
  height:10rem;
  width: 7rem;
  background: #F4F4F4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.drop-glow {
  background: yellow;
}

.dragging {
  transition: all .2s ease-in-out;
  opacity: .1;
}
.shrink {
  transform: scale(.8);
}



@media screen and (max-width: 768px) {
  .content-container {
    width: calc(100% - 4rem);
    padding: 0 2rem;
    overflow: hidden;
  }

  .content {
    display: block;
  }
  .text {
    width: 100%;
    margin-top: 3rem;
  }
  #stage, #rotate {
    width: 100%;
  }
}

